<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <span >BURGER</span>
        <input type="text"/>
        <i class="fa fa-search w3-xlarge"></i>
      </div>
      <div class="menuBar backgroundSaffron">
        <div class="menu homeIcon"><i class="fa fa-home w3-xxlarge"></i></div>
        <div class="menu"><span>About us</span></div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <div class="menu floatRight"><i class="fa fa-shopping-cart w3-xlarge"></i></div>
        <div class="menu floatRight">Signup</div>
        <div class="menu floatRight">ADMIN<a href="/user/login"></a>Logout</div>
      </div>
      <div class="heightFull">
        <div class="itemTitle">
          <span>Add Drink</span>
        </div>
        <form name="additemform" action="/admin/addDrink" id="add" method="post" enctype="multipart/form-data">
          <div class="field">
            <span class="fieldName">Name</span>
            <div class="inputField">
              <input type="text" name="itemName" class="inputFieldSize"/>
            </div>
          </div>
          <div class="field">
            <span class="fieldName">Image</span>
            <div class="inputField">
              <input type="file" name="itemImage" class="inputFieldSize"/>
            </div>
          </div>
          <div class="addressField">
            <span class="fieldName">Description</span>
            <div class="inputField">
              <textarea name="itemDescription" cols=20 rows=6 class="inputFieldSize"></textarea>
            </div>
          </div>
          <div class="addressField">
            <span class="fieldName">Offer description</span>
            <div class="inputField">
              <textarea name="offerDescription" cols=20 rows=6 class="inputFieldSize"></textarea>
            </div>
          </div>
          <div class="field">
            <span class="fieldName">Actual cost</span>
            <div class="inputField">
              <input type="text" name="actualCost" class="inputFieldSize"/>
            </div>
          </div>
          <div class="field">
            <span class="fieldName">Offer cost</span>
            <div class="inputField">
              <input type="text" name="offerCost" class="inputFieldSize"/>
            </div>
          </div>
          <div class="field">
            <input type="submit" name="addDrink"/>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>