<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <span >BURGER</span>
        <input type="text"/>
        <i class="fa fa-search w3-xlarge"></i>
      </div>
      <div class="menuBar backgroundSaffron">
        <div class="menu homeIcon"><i class="fa fa-home w3-xxlarge"></i></div>
        <div class="menu"><span>About us</span></div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <div class="menu floatRight">ADMIN<a href="/user/login">Log out</a></div>
      </div>
      <div class="itemContainer">
        <div class="topOffer">
          <div class="itemTitle"><span>Today's top offers</span></div>
          <div>
            <div class="itemHeight">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span>Item description</span>
                </div>
              </div>
              <div class="leftFloat smallWidth">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="itemGrid">
          
          <div class="itemTitle">
            <a href="/admin/addBurger" id="burger">
              <span>Add Burgers</span>
            </a>
          </div>
          <div class="grid">
          <% for (i = 0; i< burgers.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <img src="/uploads/<%= burgers[i].image%>"/>
                <div>
                  <span><%= burgers[i].description%></span>
                </div>
              </div>
              <div class="leftFloat smallWidth">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <a href="/admin/addStarter" id="starter">
              <span>Add Starters</span>
            </a>
          </div>
          
          <div class="grid">
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span><%= starters%></span>
                </div>
              </div>
              <div class="leftFloat smallWidth">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </div>
          <div class="itemTitle">
            <a href="admin/addDrink" id="drinks">
              <span>Add Drinks and Delights</span>
            </a>
          </div>
          <div class="grid">
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span><%= drinks%></span>
                </div>
              </div>
              <div class="leftFloat smallWidth">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>