<div class="menuBar backgroundSaffron">
  <a href="/admin/home">
    <div class="menu">
      <img src="/images/home.png" class="icon"></img>
    </div>
  </a>
  <a href="/user/profile">
    <div class="menu floatRight">ADMIN</div>
  </a>
  <a href="/user/login">
    <div class="menu floatRight">Log out</div>
  </a>
  <a href="/admin/addItem">
    <div class="menu floatRight">Add Item</div>
  </a>
  <a href="/admin/allItems">
    <div class="menu floatRight">View all Items</div>
  </a>
  <a href="/admin/allOrders">
    <div class="menu floatRight">View all Orders</div>
  </a>
</div>