<div class="menuBar backgroundSaffron">
  <a href="/admin/home">
    <div class="menu">
      <img src="/images/home.png" class="icon"></img>
    </div>
  </a>
  <a href="/user/profile">
    <div class="menu floatRight">
      <span>ADMIN</span>
    </div>
  </a>
  <a href="/user/login">
    <div class="menu floatRight">
      <span>Log out</span>
    </div>
  </a>
  <a href="/admin/addItem">
    <div class="menu floatRight">
      <span>Add Item</span>
    </div>
  </a>
  <a href="/admin/allItems">
    <div class="menu floatRight">
      <span>View all Items</span>
    </div>
  </a>
  <a href="/admin/allOrders">
    <div class="menu floatRight">
      <span>View all Orders</span>
    </div>
  </a>
</div>