<!DOCTYPE html>
<html>
  <head>
    <title>Login to Burger</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css">
    <link href="/images/logo.png" rel="shortcut icon">
  </head>
  <body>
    <div class="container">
      <img class="appname" src="/images/logo.png"></img> 
      <div class="signupLink">
        <a href="/user/signup"> Don't have an account? Sign up! </a>
      </div>
      <div>
        <form name="loginForm"  action="/user/login" method="post">
          <div class="welcome">
            <span>Welcome Back!</span>
          </div>
          <div class="field">
            <div class="fieldName">
              <label>Email</label>
            </div>
            <div class="inputField">
              <input type="text" name="email" class="inputFieldSize"/>
            </div>
          </div>
          <div class="errorBox">
            <span id="emailError"><%= emailMsg%></span>
          </div>
          <div class="field">
            <div class="fieldName">
              <label>Password</label>
            </div>
            <div class="inputField"> 
              <input type="password" name="password" class="inputFieldSize">
            </div>
          </div>
          <div class="errorBox">
            <span id="passwordError"><%= passwordMsg%></span>
          </div>
          <div class="field">
            <div class="remember">
              <input type="checkbox" id="checkBox"><label for="checkBox">Remember me</label>
            </div>
            <div class="loginButtonArea">
              <input type="submit" class="submitButton loginButton" onclick="login()" value="Login">
            </div>
            <div class="forgot">
              <a href="#">Forgot password?</a>
          </div>
        </div>
      </form>
      </div>
    </div>
    <script src="/javascripts/validity.js"></script>
  </body>
</html>