<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <span >BURGER</span>
        <input type="text"/>
        <a href="userSession">
          <i class="fa fa-search w3-xlarge"></i>
        </a>
      </div>
      <div class="menuBar backgroundSaffron">
          <div class="menu homeIcon">
          <a href="/user/home">
            <i class="fa fa-home w3-xxlarge"></i>
          </a>
          </div>
        </a>
        <div class="menu">
          <span>About us</span>
        </div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <a href="/user/orderSummary">
          <div class="menu floatRight"><i class="fa fa-shopping-cart w3-xlarge"></i></div>
        </a>
        <div class="menu floatRight"><%= user%><a href="/user/login"><%= logout%></a></div>
      </div>
      <div class="fullHeight">
        <div class="itemHeight">
          <div class="leftFloat largeWidth">
            <img src="/images/logo.png"/>
            <div>
              <span>Item description</span>
            </div>
          </div>
          <div class="floatRight">
            <span>paythis..!!</span>
            <input type="button" name="remove" value="remove" class="submitButton loginButton"/>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>