body {
  height: auto;
  width: auto;
  font-family: motionPic;
}

@font-face {
  font-family: motionPic;
  src: url("../font/LadybugLoveDemo.ttf");
}

.homeWrapper {
  background-color: #ECFFDF;
  background-size: cover;
  height: auto;
  width: auto;
}

.searchBar {
  width: 100%;
  height: 40px;
  padding: 3px;
  text-align: center;
}

.menuBar {
  width: 100%;
  height: 46px;
}

.backgroundSaffron {
  background-color: #FFE000;
}

.menu {
  width: 9%;
  height: 40px;
  padding: 3px;
  float:left;
  text-align: center;
}

.menu:hover {
  background-color: #FFC000;
}

.floatRight {
  float: right;
}

.homeIcon {
  width: 5%;
}

.topOffer {
  width: 20%;
  height: 100%;
  float:left;
  text-align: center;
  overflow-y: scroll;
}

.itemGrid {
  width: 80%;
  height: 100%;
  float: left;
}

.itemTitle {
  height: 40px;
  padding: 3px;
  background-color: #ECFFDF;
}

.itemHeight {
  height: 180px;
  padding: 10px;
}

.leftFloat {
  float: left;
  width: 25%;
}

.smallWidth {
  width: 20px;
  text-align: center;
}

.largeWidth {
  width: 150px;
}

.grid {
  min-height: 200px;
  width: 100%;
}

img {
  width: 150px;
  height: 150px;
}

.list {
  margin: auto;
  width: 55%;
}

.centerAllign {
  text-align: center;
}

.icon {
  width: 35px;
  height: 35px;
}

.addItemBox {
  margin: auto;
  width: 540px;
}

.padding20 {
  padding: 20px;
}